.circle-wrapper {
   width: inherit;
   position: relative;
   display: -webkit-box;
}

.circle {
   border-radius:51%;
   text-align:center;
   margin: 0 auto;
   z-index: 400;
}

.deg-0 {
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
 }
 
 .deg-60 {
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
 }
 
 .deg-120 {
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
 }
 
 .deg-180 {
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
 }
 
 .deg-240 {
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
 }
 
 .deg-300 {
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
 }