@keyframes floating {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0px);
    }
}
.react-floater-animated {
    animation: floating 6s ease infinite;
    will-change: transform;
    text-align: center;
}

.particle {
  z-index: 1;
} 

.particle > *{
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}

.animation-1 > * {
  animation: fly1 120s linear infinite;
}

/* .animation-2 > * {
  animation: fly2 120s linear infinite;
}

.animation-3 > * {
  animation: fly3 130s linear infinite;
} */

@keyframes fly1 {
  33% {
    transform: translate(110vw, 15vh) rotateZ(35deg);
  }

  50% {
    transform: translate(-120vw, 90vh) rotateZ(300deg);
  }
  /* 0% {
    transform: translate(100vw,110vh) rotateZ(0deg);
  }

  12.5% {
    transform: translate(120vw,10vh) rotateZ(40deg);
  }

  25% {
    transform: translate(-50vw,10vh) scale(1.25) rotateZ(-30deg);
  }

  37.5% {
    transform: translate(-200%,120vh) rotateZ(-50deg);
  }

  50% {
    transform: translate(100vw,50vh) rotateZ(0deg);
  }

  62.5% {
    transform: translate(20vw,100vh) rotateZ(30deg);
  }
  75% {
    transform: translate(200%,100vh) rotateZ(0deg);
  }
  87.5% {
    transform: translate(50vw,-200%) scale(1.75) rotateZ(20deg);
  }

  100% {
    transform: translate(-200%,110vh) rotateZ(0deg);
  } */
}

@keyframes fly2 {
  0% {
    transform: translate(20vw,100vh) rotateZ(30deg);
  }
  12.5% {
    transform: translate(200%,100vh) rotateZ(0deg);
  }
  25% {
    transform: translate(50vw,-200%) scale(1.75) rotateZ(20deg);
  }

  37.5% {
    transform: translate(-200%,110vh) rotateZ(0deg);
  }

  50% {
    transform: translate(120vw,20vh) rotateZ(40deg);
  }

  62.5% {
    transform: translate(50vw,50vh) scale(1.25) rotateZ(-30deg);
  }

  75% {
    transform: translate(-200%,120vh) rotateZ(-50deg);
  }

  87.5% {
    transform: translate(-20 0%,110vh) rotateZ(0deg);
  }

  100% {
    transform: translate(100vw,50vh) rotateZ(0deg);
  }
}

@keyframes fly3 {
  0% {
    transform: translate(120vw,20vh) rotateZ(40deg);
  }

  12.5% {
    transform: translate(50vw,50vh) scale(1.25) rotateZ(-30deg);
  }

  25% {
    transform: translate(-200%,110vh) rotateZ(0deg);
  }

  37.5% {
    transform: translate(50vw,-200%) scale(1.75) rotateZ(20deg);
  }

  50% {
    transform: translate(200%,100vh) rotateZ(0deg);
  }


  62.5% {
    transform: translate(100vw,50vh) rotateZ(0deg);
  }

  75% {
    transform: translate(20vw,100vh) rotateZ(30deg);
  }

  
  87.5% {
    transform: translate(-200%,110vh) rotateZ(0deg);
  }

  100% {
    transform: translate(-200%,120vh) rotateZ(-50deg);
  }
}